# Node / éditeurs / fichiers système
node_modules/
.vscode/
.idea/
.DS_Store

# CodeIgniter 4 – fichiers sensibles ou générés
/vendor/
.env
.env.*
/writable/cache/
/writable/logs/
/writable/session/
/writable/debugbar/

# Fichiers de base de données ou de sauvegarde
*.sql
*.bak
*.zip

# Tests temporaires
phpunit-result.xml
coverage/
